.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
  }
  
  .navbar .logo h2 {
    margin: 0;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
  }
  
  nav ul li {
    font-size: 18px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #f8f8f8;
  }
  
  .fa-shopping-cart {
    font-size: 22px;
  }